@import '../../assets/scss/variables';

.component {
  border: 0px;
  font-size: 10px;
  color: map-get($colors, light);
  padding: map-get($distance, s) map-get($distance, m);
  text-transform: uppercase;

  &.started {
    background-color: map-get($colors, warning);
  }

  &.stopped {
    background-color: map-get($colors, danger);
  }

  &.completed {
    background-color: map-get($colors, success);
  }
}
