@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.component {
  display: flex;
  flex-direction: row;
  gap: map-get($distance, s);
  align-items: center;
  justify-content: space-between;
  color: map-get($colors, light);
  background-color: map-get($colors, secondary-light);
  margin-bottom: map-get($distance, l);
  padding-top: map-get($distance, s);
  padding-bottom: map-get($distance, s);
  padding-left: map-get($distance, xl);
  padding-right: 60px;
  border-radius: $border-radius;
  position: relative;

  @media (min-width: map-get($breakpoints, sm)) {
    gap: map-get($distance, m);
  }

  &::before {
    content: '';
    width: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: map-get($colors, primary);
    border-top-left-radius: calc(#{$border-radius} * 2);
    border-bottom-left-radius: calc(#{$border-radius} * 2);
  }

  &.started {
    &::before {
      background-color: map-get($colors, warning);
    }
  }

  &.stopped {
    &::before {
      background-color: map-get($colors, danger);
    }
  }

  &.completed {
    &::before {
      background-color: map-get($colors, success);
    }
  }

  &.disabled {
    opacity: 0.8;
  }

  &__title {
    font-size: 15px;
    font-weight: bold;
    width: 40%;

    &:not(.open) {
      @include line-clamp(1);
    }
  }

  &__description {
    font-size: 12px;

    &:not(.open) {
      @include line-clamp(1);
    }
  }

  &__buttonOpen {
    background-color: transparent !important;
    font-size: 20px;
    line-height: 11px;
    border-radius: 0;
    height: 100%;
    border-left: 1px solid map-get($colors, light);
    top: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-top: 0;
  }
}
