@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,200;1,400&display=swap');

$border-radius: 16px;

$colors: (
  primary: #715887,
  secondary: #272638,
  secondary-light: #38384f,
  light: #f3f5f7,
  gray: #212121,
  dark: #13121d,
  success: #198754,
  info: #0dcaf0,
  warning: #ffc107,
  danger: #dc3545,
);

$distance: (
  s: 8px,
  m: 16px,
  l: 24px,
  xl: 32px,
  xxl: 40px,
);

$breakpoints: (
  xs: 425px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
