@import '../../assets/scss/variables';

.component {
  cursor: pointer;
  color: map-get($colors, light);
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  border: 0px;
  padding: map-get($distance, s) map-get($distance, m);
  border-radius: $border-radius;

  &.success {
    background-color: map-get($colors, success);
  }

  &.info {
    background-color: map-get($colors, info);
  }

  &.warning {
    background-color: map-get($colors, warning);
  }

  &.light {
    background-color: map-get($colors, light);
  }

  &.danger {
    background-color: map-get($colors, danger);
  }

  &:disabled {
    color: map-get($colors, secondary);
    background-color: map-get($colors, light);
  }
}
