@import '../../assets/scss/variables';

.component {
  cursor: pointer;
  color: map-get($colors, light);
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  border: 0px;
  padding: map-get($distance, s) map-get($distance, m);
  border-radius: $border-radius;

  &.success {
    background-color: map-get($colors, success);
  }

  &.info {
    background-color: map-get($colors, info);
  }

  &.warning {
    background-color: map-get($colors, warning);
  }

  &.light {
    background-color: map-get($colors, light);
  }

  &.warning {
    background-color: map-get($colors, warning);
  }

  &:disabled {
    color: rgba(16, 16, 16, 0.3);
    background-color: map-get($colors, light);
  }

  &:hover,
  &:active,
  &:focus {
    -webkit-box-shadow: 3px 3px 6px 0px rgba(69, 69, 69, 0.3);
    -moz-box-shadow: 3px 3px 6px 0px rgba(69, 69, 69, 0.3);
    box-shadow: 3px 3px 6px 0px rgba(69, 69, 69, 0.3);
    outline: none;
  }
}
