@import '../../assets/scss/variables';

.component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: map-get($distance, l);
  padding: map-get($distance, s);
  color: map-get($colors, light);
  background: map-get($colors, secondary);
  gap: map-get($distance, m);

  &__text {
    font-size: 12px;
    font-weight: 600;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;

    & > a {
      margin: 8px 8px 0px 8px;

      & > img {
        height: 22px;
      }
    }
  }
}
