@import '../../assets/scss/variables';

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: map-get($distance, l);
  padding: map-get($distance, m);
  color: map-get($colors, dark);
  background: map-get($colors, light);

  &__text {
    font-size: 12px;
    font-weight: 600;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;

    & > a {
      margin: 8px 8px 0px 8px;

      & > img {
        height: 22px;
      }

      &:first-child img {
        background-color: map-get($colors, dark);
        border-radius: 100%;
        border: 2px solid map-get($colors, dark);
      }
    }
  }
}
