@import '../../assets/scss/variables';

.component {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  border-radius: $border-radius;
  background-color: map-get($colors, secondary);
  padding: map-get($distance, l);
}
